<!--{% extends "base_menu.html" %}-->
<!--{% block content %}-->
<!--<body style="background-color:#DEF4F7;">-->

<!--<h2> {{ situation.country }} </h2>-->


<!--<strong>Situation:</strong> {{ country.situation.name }}-->
<!--<strong>Country:</strong> {{country.situation.id.country}}-->
<!--<strong>Displaced Population:</strong> {{country.situation.id.population_estimate}} </dd>-->

<!--<dl>-->
<!--{% for situation in country.situation_set.all %}-->
<!--  <dt><a href="{% url 'situation_detail' situation.pk %}">{{ situation }}</a></dt>-->
<!--  <dd>{{situation.name}}</dd>-->
<!--{% endfor %}-->
<!--</dl>-->

<!--</div>-->
<!--{% endblock %}-->